<div class="user-profile">
  <% if @nickname.present? %>
    <p><%= @nickname %>さんの投稿一覧</p>
  <% end %>

  <div class="user-posts">
    <% @posts.each do |post| %>
      <%= render partial: "posts/post", locals: { post: post } %>
    <% end %>
  </div>

  <footer>
    <a href="/">戻る</a>
  </footer>
</div>
