<%= stylesheet_link_tag 'output_report.css', media: 'all' %>

<!-- views/reports/show.html.erb -->
<div class="detail-container">
  <h1 class="detail-title"><%= @report.title %></h1>
  <p class="detail-content"><%= @report.content %></p>
  
  <div class="detail-button-container">
    <%= link_to "戻る", output_reports_path, class: "detail-link" %>
  </div>
</div>
