

<div class="report">
       <div class="report-title">
          <h2><%= @report.title %></h2>
        </div>
        <div class="report-content">
          <p><%= @report.content %></p>
        </div>
    
    <footer>
      <a href="/output_reports">戻る</a>
    </footer>
</div>

