<div class="report">
        <div class="report-content">
          <p><%= @post.content %></p>
        </div>
        <div class="report-meta">
          <small><%= l @post.created_at %></small>
        </div>
      </div>
    
    <footer>
      <a href="/">戻る</a>
    </footer>
</div>

