.header {
  background-color: #484848;
  margin-bottom: 48px;
  padding: 5px 0;

}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 140px;
  padding-top: 5px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fefefe;
  text-decoration: none;
  user-select: none;
  border: 1px #ffffff solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
}

.nav__logout:hover{
  opacity: 0.5;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
} */

small {
  color: gray;
}

h1 {
  color: #343a40;
  text-align: center;
  padding: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 30%;
  margin-top: 30px;
}

ul li {
  background-color: #fff;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  padding: 20px;
  
}

ul li h2 {
  margin: 0 0 10px 0;
  color: #495057;
}

ul li p {
  color: #212529;
  margin: 0;
}

.button-container {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.form-input {
  margin-bottom: 20px;
  width: 100%;
}

.form-input input,
.form-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.link-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.link-show-button {
  display: inline-block;
  background-color: #00b76e;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}

.link-delete-button {
  display: inline-block;
  background-color: #cc361f;
  font-size: 17px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid;
  cursor: pointer;
}

.edit-delete-wrapper {
  display: flex;
  margin-top: 10px;
}

.sidebar {
  width: 250px; /* サイドバーの幅を調整 */
  background-color: #ffeded27; /* サイドバーの背景色を設定 */

}

.user-nickname {
  font-size: 15px; /* フォントサイズを変更 */
  color: rgb(255, 255, 255); /* テキストの色を赤に変更 */
}

.report {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

.report-title {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f0f0f0;
}

.report-content {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.report-meta {
  margin-top: 10px;
  text-align: right;
}

footer {
  margin-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #0077cc;
}

.user-posts .post {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}

.user-posts .post h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.user-posts .post p {
  font-size: 16px;
}


.link-delete-button:hover {
  background-color: #fb8888; /* ホバー時の背景色 */
  color: #fff; /* ホバー時のテキスト色 */
  box-shadow: 0 0 10px rgba(255, 122, 105, 0.5); /* ホバー時のボックスシャドウ */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* トランジション効果を追加 */
}

.link-button:hover {
  background-color: #a6b3f0; /* ホバー時の背景色 */
  color: #fff; /* ホバー時のテキスト色 */
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.5); /* ホバー時のボックスシャドウ */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* トランジション効果を追加 */
}

.link-show-button:hover {
  background-color: #9ded73; /* ホバー時の背景色 */
  color: #fff; /* ホバー時のテキスト色 */
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.5); /* ホバー時のボックスシャドウ */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* トランジション効果を追加 */
}

.search-form {
  display: flex;
  justify-content: center; /* ボタンを水平方向に中央揃えにする */
}

.search-input {
  /* テキストフィールドのスタイルを追加 */
  /* 任意のスタイルを追加できます */
}

.search-btn {
  /* ボタンのスタイルを追加 */
  /* 任意のスタイルを追加できます */
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.footer-text {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff; /* テキストのカラーを設定 */
  text-align: center; /* テキストを中央揃えに設定 */
  padding: 5px; /* 必要に応じて余白を設定 */
  opacity: 0.5;
}





