/* トップページのスタイル */

h2 {
  color: #fbfbfb;
}

a {
  text-decoration: none;
  color: #0ac6ffab;
}

/* カテゴリ要素のスタイル */
.report-category {
  border: none; /* ボーダーを削除 */
  background-color: #0078f9; /* ボタンの背景色 */
  color: #fff; /* ボタンのテキスト色 */
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: center; /* テキストを中央寄せ */
  cursor: pointer; /* マウスカーソルをポインタに変更 */
  transition: background-color 0.3s; /* ホバー時のアニメーション */
}

/* ホバー時のスタイル */
.report-category:hover {
  background-color: #6eb3fc; /* ホバー時の背景色 */
}


.category-container {
  display: flex; /* フレックスボックスコンテナとして表示 */
  justify-content: space-between; /* 要素を等間隔で配置 */
}