/* トップページのスタイル */

.h2-style1 {
  color: #fdfbfb;
}

a {
  text-decoration: none;
  color: #0ac6ffab;
}

/* カテゴリ要素のスタイル */
.report-category {
  border: none; /* ボーダーを削除 */
  background-color: rgb(137, 138, 139); /* ボタンの背景色 */
  color: #fff; /* ボタンのテキスト色 */
  width: 270px; /* ボタンの幅を固定サイズに設定 */
  height: 70px; /* ボタンの高さを固定サイズに設定 */
  margin: 3px 10px;
  border-radius: 5px;
  text-align: center; /* テキストを中央寄せ */
  cursor: pointer; /* マウスカーソルをポインタに変更 */
  transition: background-color 0.3s; /* ホバー時のアニメーション */
  flex: 1; /* 幅を均等に分配 */
}

/* ホバー時のスタイル */
.report-category:hover {
  background-color: #6eb3fc; /* ホバー時の背景色 */
}

.category-container {
  display: flex; /* フレックスボックスコンテナとして表示 */
  /* justify-content: space-between; 要素を等間隔で配置 */
}

/* 学習開始の投稿内容 */
.contents.row {
  width: 460px; /* 幅を指定 */
  display: flex;
  align-items: flex-start; /* 左寄せに配置 */
  margin-left: 10px;
}